sentence-transformers
pymupdf
chromadb
langchain_chroma
langchain_huggingface
langchain
langchain_groq
flask
pypdf
python-dotenv
pinecone[grpc]  
langchain-community
langchain-experimental
transformers
streamlit
torch
groq  # Add Groq framework

-e .